{% extends "base.html" %}

{% block content %}
    <h2>System Login</h2>
    <p><em>Hint: Use <strong>admin</strong> (password: 123) with the checkbox for Admin Panel.<br>
    Enter any other name (e.g., <strong>Joe</strong>) to login/register as a regular user.</em></p>
    
    <hr>

    <form method="POST">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.is_admin() }} {{ form.is_admin.label }}
        </p>
        
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}